.contact-form {
    background-color: lightgray;
    opacity: 0.85;
    padding:50px;
    border-radius: 10px;
    border: darkgrey 1px solid;
    /*box-shadow: 6px 6px 6px grey;*/
}

.form {
    display: flex;
    flex-direction: column;
    width:35vh;
}

.text-field {
    margin: 20px 0px !important;
}


